{% extends 'base.html.twig' %}


{% block title %}Hello MediaController!{% endblock %}


{% block body %}


<h1> Tous les medias </h1>


<div class="row" >
    {% for media in medias %}
<div class="col-lg-4 col-md-6 mb-4 ">
            <div class="card h-100 ">
              <a href="#"><img src="/uploads/{{media.imageName}}" class="card-img-top"  class="img-fluid" alt="Responsive image"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{ media.Titre }}</a>
                </h4>
                
                <p class="card-text">{{ media.Description }}</p>
              </div>
              
            </div>
          </div>
    {% else %}
    <h1> Pas de médias ! </h1>

    {% endfor %}
</div>

{% endblock %}
