{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Résumé compte</h1>
    <a href="{{ path('security_account_username') }}" class="btn btn-success">Modifier son pseudo</a></br></br>
    <a href="{{ path('security_account_pass') }}" class="btn btn-success">Modifier son mot de passe</a>
{% endblock %}
