{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Modifier son mot de passe</h1>

    {{ form_start(formPassword) }}
    {{ form_row(formPassword.password,{'label':'Mot de passe(8 char min)','attr':{'placeholder':"Entrer votre nouveau mot de passe"}}) }}
    <button type="submit" class="btn btn-success">Confirmer</button>
    {{ form_end(formPassword) }}

{% endblock %}