
{% extends 'base.html.twig' %}



{% block body %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
         <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Quizz
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" >
      <div class="card-body">
         <div class="m-3" class="controls">
            <form action="" method="post">
                  <a href={{path("room.quizz.create")}}  type = "submit" class="next-btn btn-quizz">Creer</a>
            </form>

            <br>
            <br>
            
            <form action="" method="post">
                  <a href={{path("room.quizz.index")}}  type = "submit" class="next-btn btn-quizz">Rejoindre</a>
            </form> 
         </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
       <a href={{path("diagnostic")}}  type = "submit" class="next-btn btn-quizz">
          <button class="btn btn-link" type="button" >
              AKIMEDIC
          </button>
       </a>
      </h2>
    </div>
  </div>
</div>

{% endblock %}
