{% extends 'base.html.twig' %}

{% block body %}
<h3> faire un diagnostic</h3>
<form method="post" action="controller.php">
<label for="symptomes">choissiez les symptomes:</label>

<select name="toto" id="toto" type="select" multiple size="2">

</select>
      <label for="symptomes">sexe:</label> <select id="symptomes">
      
      date de naissance : <input type="Date" name="date-naissance" /><br />
      
      <input type="submit" value="Valider" />

</select>
{{ data|json_encode|raw }}

{% endblock %}