{% extends 'base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block body %}
<div class="container">
    <h1> Ajouter Question</h1>
    <hr>
{{ form(form) }}
</div>
{% endblock %}