
{% extends 'base.html.twig' %}

{% block body %}

<ul id="menu-accordeon">
   <li><a href="#">Quiz</a>
      <ul>
         <li><a href="#">Facile</a></li>
         <li><a href="#">Moyen</a></li>
         <li><a href="#">Difficile</a></li>
      </ul>
   </li>
    <li><a href="#">Jeux 2</a>
      <ul>
         <li><a href="#">Facile</a></li>
         <li><a href="#">Moyen</a></li>
         <li><a href="#">Difficile</a></li>
      </ul>
   </li>
   <li><a href="#">Jeux 3</a>
      <ul>
         <li><a href="#">Facile</a></li>
         <li><a href="#">Moyen</a></li>
         <li><a href="#">Difficile</a></li>
      </ul>
   </li>
</ul>


{% endblock %}
