{% extends 'base.html.twig' %}
{% block title %}acceuil{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

    {% endblock %}
{% block body %}
<div class="undernav">
  <div class="container">
      
      <div class="m-3" class="controls" 
        <form action="" method="post">

            <a href="{{ path('quizz.create')}}"  type = "submit" class="next-btn btn-quizz">Creer</a>
        </form>

        <br>
        <br>
        
        <form action="" method="post">

            <a href="{{ path('quizz.index')}}"  type = "submit" class="next-btn btn-quizz">Rejoindre</a>
        </form> 

        
      </div>
  </div>
</div>
        {% block javascripts %}
        
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
{% endblock %}